body {
  background: rgb(13,23,70);
  background: linear-gradient(252deg, rgba(13,23,70,1) 0%, rgba(41,15,46,1) 100%);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}